@font-face {
    font-family: "Be Vietnam Pro";
    src: url("/assets/fonts/BeVietnamPro-Regular.otf");
    src: url("/assets/fonts/BeVietnamPro-Regular.otf?#iefix") format("embedded-opentype"),
    url("/assets/fonts/BeVietnamPro-Thin.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-Light.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-SemiBold.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-Medium.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-ExtraLight.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-ExtraBold.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-Bold.otf") format("otf"),
    url("/assets/fonts/BeVietnamPro-Black.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}