@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-Thin.woff2") format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-ExtraLight.woff2") format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-Light.woff2") format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-Regular.woff2") format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-Medium.woff2") format('woff2');
}

/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-SemiBold.woff2") format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-Bold.woff2") format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-ExtraBold.woff2") format('woff2');
}

/* vietnamese */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/BeVietnamPro-Black.woff2") format('woff2');
}