body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  margin: 0;
}

html {
  @apply xl:text-[10px] lg:text-[7px] text-[10px]
}

a {
  text-decoration: none;
}

ul,li {
  list-style: none;
  margin: 0;
}
